{% extends 'partials/base.html.twig' %}

{% block content %}
    <h1 class="page-title">{{ page.title }}</h1>
    {{ page.content }}
{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}