{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content }}

    {% set collection = page.collection() %}

    <div class="posts">
    {% for child in collection %}
        {% include 'partials/landing_item.html.twig' with {'landing':page, 'page':child, 'truncate':true} %}
    {% endfor %}
    </div>

{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}
