{% set sidebar_content = page.find('/sidebar') %}
{{  sidebar_content.content }}


{% for module in page.collection({'items':{'@taxonomy.category': 'sidebar'},'order': {'by': 'default', 'dir': 'asc'}}) %}
  {% if module.template %}
    {% if module.header.surround %}
      {% include 'sidebar/' ~ module.template ~ '.html.twig' %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="sidebar section" id="sidebar">
  {% for module in page.collection({'items':{'@taxonomy.category': 'sidebar'},'order': {'by': 'default', 'dir': 'asc'}}) %}
    {% if module.template %}
      {% if not module.header.surround %}
        {% include 'sidebar/' ~ module.template ~ '.html.twig' %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if config.plugins.simplesearch.enabled %}
  <div class="widget HTML">
    <h2 class="title">Search</h2>
    <div class="widget-content simplesearch">
      {% include 'partials/simplesearch_searchbox.html.twig' %}
    </div>
  </div>
  {% endif %}

  {% if config.plugins.archives.enabled %}
  <div class="widget HTML">
    <h2 class="title">Archives</h2>
    <div class="widget-content">
      {% include 'partials/archives.html.twig' %}
    </div>
  </div>
  {% endif %}

</div>
